@import url("https://fonts.googleapis.com/css?family=Ubuntu");
html,
body {
  font-family: 'Ubuntu', sans-serif; }

#console {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  text-align: center; }
